<div ng-controller="taskController" flex="70" layout="column" ng-cloak class="md-inline-form">
  <md-content layout-padding layout="row" layout-sm="column">
    <md-input-container class="md-icon-float md-block">
      <label>Title</label>
      <ng-md-icon icon="person" style="fill: #000"></ng-md-icon>
      <input ng-model="taskForm.title" type="text">
    </md-input-container>
    <md-input-container>
      <label>Email</label>
      <input ng-model="taskForm.email" type="email">
    </md-input-container>
  </md-content>
  <md-content layout-padding>
    <form name="taskFormForm">
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Company (Disabled)</label>
          <input ng-model="taskForm.company" disabled>
        </md-input-container>
        <md-datepicker ng-model="taskForm.submissionDate" md-placeholder="Enter date"></md-datepicker>
      </div>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>First name</label>
          <input ng-model="taskForm.firstName">
        </md-input-container>
        <md-input-container flex>
          <label>Last Name</label>
          <input ng-model="theMax">
        </md-input-container>
      </div>
      <md-input-container class="md-block">
        <label>Address</label>
        <input ng-model="taskForm.address">
      </md-input-container>
      <md-input-container md-no-float class="md-block">
        <input ng-model="taskForm.address2" placeholder="Address 2">
      </md-input-container>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>City</label>
          <input ng-model="taskForm.city">
        </md-input-container>
        <md-input-container flex>
          <label>State</label>
          <md-select ng-model="taskForm.state">
            <md-option ng-repeat="state in states" value="{{state.abbrev}}">
              {{state.abbrev}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex>
          <label>Postal Code</label>
          <input name="postalCode" ng-model="taskForm.postalCode" placeholder="12345"
                 required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
          <div ng-messages="taskFormForm.postalCode.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">You must supply a postal code.</div>
            <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
              code.
            </div>
            <div ng-message="md-maxlength" class="my-message">
              Don't use the long version silly...we don't need to be that specific...
            </div>
          </div>
        </md-input-container>
      </div>
      <md-input-container class="md-block">
        <label>Biography</label>
        <textarea ng-model="taskForm.biography" columns="1" md-maxlength="150" rows="5"></textarea>
      </md-input-container>
    </form>
  </md-content>
</div>
