<!doctype html>
<html ng-app="myApp">

<head>
  <base href="/">
  <meta charset="utf-8">
  <title>Capstone</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">

</head>
<body>

  <md-toolbar>
    <div class="md-toolbar-tools">
    <md-icon ng-show="currentUser" style="color: #FFF; width: 60px; height: 60px;" md-svg-icon="./public/img/pavlov-icon.svg"></md-icon>
    <span flex="5"></span>
    <h3 ng-show="currentUser">Hello, <strong>{{ currentUser.username }}</strong></h3>
      <span flex></span>
      <md-button ng-controller="logoutController" ng-show="currentUser" ng-click="logout()">Logout</md-button>
      <md-button ng-controller="dialogLoginController" ng-hide="currentUser" ng-click="showForm($event)">Login</md-button>
      <md-button ng-controller="dialogRegisterController" ng-hide="currentUser" ng-click="showForm($event)">Register</md-button>
    </div>
  </md-toolbar>

  <md-content id="landing" ng-hide="currentUser" ng-cloak>
    <div back-img="./public/img/pavlov.jpg"id="landing" layout-padding layout-wrap layout="column" layout-align-sm="space-around center" layout-align-gt-sm="space-around center">
      <div layout="column" layout-align="space-around center">
        <h1 class="md-display-4"><strong style="color: #FF5722">Pavlov&nbsp;</strong><md-icon ng-hide="currentUser" style="width: 100px; height: 100px;" md-svg-icon="./public/img/pavlov-icon.svg"></md-icon></h1>
        <h3 class="md-display-1"><i style="color: #FF5722">A task management app that keeps you accountable</i></h3>
      </div>

      <md-content bg-trans flex="20" layout="column" layout-padding layout-align-gt-sm="space-around center">
        <div layout="column">
          <h2 class="md-display-1" style="color: #FFF">Real Accountability</h2>
        </div>
        <md-divider></md-divider>
        <div layout layout-padding flex>
          <div flex="25" layout-align="center center" style="text-align: center;" layout="column">
            <md-icon style="color: #FFF; width: 150px; height: 150px;" md-svg-icon="./public/img/evil.svg"></md-icon>
          </div>
          <div flex>
            <p class="md-subhead" flex style="color: #FFF">Humans are inherently selfish, and often times that means procrastinating is a better choice than buckling down and taking care of a task. There are a lot of task managers out there, but there aren't many that hold you responsible by taking action in your favor with a negative consequence.</p>
            <p class="md-subhead" flex style="color: #FFF">Pavlov will take care of this for you. Consider it a little helper wielding a stun-stick to poke you when you fail to do something important.</p>
          </div>
        </div>
      </md-content>
      <md-content bg-trans flex="20" layout="column" layout-padding layout-align-gt-sm="space-around center">
        <div layout="column">
          <h2 class="md-display-1" style="color: #FFF">Excellent Success Rate</h2>
        </div>
        <md-divider></md-divider>
        <div layout layout-padding flex>
          <div flex="25" layout-align="center center" style="text-align: center;" layout="column">
            <md-icon style="color: #FFF; width: 150px; height: 150px;" md-svg-icon="./public/img/happy.svg"></md-icon>
          </div>
          <div flex>
            <p class="md-subhead" flex style="color: #FFF">Humans are inherently selfish, and often times that means procrastinating is a better choice than buckling down and taking care of a task. There are a lot of task managers out there, but there aren't many that hold you responsible by taking action in your favor with a negative consequence.</p>
            <p class="md-subhead" flex style="color: #FFF">Pavlov will take care of this for you. Consider it a little helper wielding a stun-stick to poke you when you fail to do something important.</p>
          </div>
        </div>
      </md-content>
      <md-content bg-trans flex="20" layout="column" layout-padding layout-align-gt-sm="space-around center">
        <div layout="column">
          <h2 class="md-display-1" style="color: #FFF">Real-time Notifications</h2>
        </div>
        <md-divider></md-divider>
        <div layout layout-padding flex>
          <div flex="25" layout-align="center center" style="text-align: center;" layout="column">
            <md-icon style="color: #FFF; width: 150px; height: 150px;" md-svg-icon="./public/img/bell.svg"></md-icon>
          </div>
          <div flex>
            <p class="md-subhead" flex style="color: #FFF">Humans are inherently selfish, and often times that means procrastinating is a better choice than buckling down and taking care of a task. There are a lot of task managers out there, but there aren't many that hold you responsible by taking action in your favor with a negative consequence.</p>
            <p class="md-subhead" flex style="color: #FFF">Pavlov will take care of this for you. Consider it a little helper wielding a stun-stick to poke you when you fail to do something important.</p>
          </div>
        </div>
      </md-content>
      <footer>
        <div layout layout-align="center center">
            <h2 class="md-subhead">&copy; Erik Abrahamson</h2>
        </div>
      </footer>

    </div>
  </md-content>

  <md-button ng-show="currentUser" ng-controller="dialogTaskController" ng-click="showForm($event)" style="top: auto; right: 20px; bottom: 20px; left: auto; position: fixed;" class="md-fab md-warn" aria-label="Add Task">
    <ng-md-icon icon="add" size="36" style="fill: #FFF; vertical-align: middle; display: inline-block; line-height: 1;"></ng-md-icon>
  </md-button>

  <md-content layout-padding ng-if="currentUser" ng-controller="tileController as tile">
    <md-grid-list layout-align-sm="space-around center" layout-align-gt-sm="space-around center"
      md-cols-gt-md="8" md-cols-sm="1" md-cols-md="3"
      md-row-height-gt-md="1:1" md-row-height="4:3"
      md-gutter-gt-md="8px" md-gutter-gt-sm="8px" md-gutter="4px">

      <md-grid-tile ng-repeat="tile in tiles" ng-style="{'background': tile.color}"
        layout-align-sm="space-around center"
        layout-align-gt-sm="space-around center"
        md-colspan-gt-sm="{{ tile.colspan }}"
        md-rowspan-gt-sm="{{ tile.rowspan }}"
        md-colspan-sm="1">
        <md-grid-tile-header layout layout-align-sm="space-around center" layout-align-gt-sm="space-around center">
          <h4 class="md-title">{{ tile.title }}</h4>
        </md-grid-tile-header>
        <div layout="column" layout-align-sm="space-around center" layout-align-gt-sm="space-around center">
          <div flex>
            <ng-md-icon icon="timer" size="64" style="fill: #FFF;"></ng-md-icon>
          </div>
          <div flex>
            <!-- <span style="color: #FFF" class="md-subhead">{{ tile.description }}</span> -->
          </div>
        </div>

        <md-grid-tile-footer layout layout-align-sm="space-around center" layout-align-gt-sm="space-around center">
          <h5 style="color: #FFF;" class="md-body-2" timer deadline="tile.deadline"></h5>
        </md-grid-tile-footer>
      </md-grid-tile>

   </md-grid-list>
 </md-content>

  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
  <script src="./main.js"></script>
  <script src="./services/auth-service.js"></script>
  <script src="./services/task-service.js"></script>
  <script src="./controllers/dialog-login.js"></script>
  <script src="./controllers/dialog-register.js"></script>
  <script src="./controllers/dialog-task.js"></script>
  <script src="./controllers/task.js"></script>
  <script src="./controllers/bind.js"></script>
  <script src="./controllers/login.js"></script>
  <script src="./controllers/logout.js"></script>
  <script src="./controllers/register.js"></script>
  <script src="./controllers/tile.js"></script>
  <script src="./directives/timer.js"></script>
  <script src="./directives/landing.js"></script>
  <script src="./directives/landing-bg.js"></script>
  <script src="./controllers/grid.js"></script>

</body>
</html>
